.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: $secondary-bgc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: $secondary-hover-bgc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-close__btn-icon {
  fill: $primary-bgc;
  width: 11px;
  height: 11px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 450px;
  height: 609px;
  padding: 40px;
  @media screen and (min-width: 1280px) {
    width: 528px;
    height: 581px;
  }
}
.modal__discription {
  color: $secondary-text-color;
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 768px) {
    line-height: 1.15;
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.modal-form__block {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}
.modal-form__field {
  margin-top: 4px;
  margin-bottom: 10px;
  font-family: $primary-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  cursor: pointer;
  transition: border-color 250ms linear;
  &:focus {
    outline: none;
    border-color: $third-accent-color;
  }
}
.modal-form__coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  font-family: $primary-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  transition: border-color 250ms linear;
  &::placeholder {
    color: $secondary-text-color;
  }
  &:focus {
    outline: none;
    border-color: $primary-accent-color;
  }
}
.modal-form__check-desc {
  display: flex;
  align-items: center;
  font-family: $primary-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  margin-bottom: 20px;
  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid #000000;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 2px;
  }
  .modal-form__check:checked + &::before {
    background-color: $primary-accent-color;
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-form__check:focus + &::before {
    outline: 2px solid $third-accent-color;
    border: transparent;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-form__button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px 10px 30px;
}
