<section class="about">
  <label class="about__label">tradition and love</label>
  <h1 class="about__title">how it’s made?</h1>
  <p class="about__description-begin">
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
    eget, egestas eros. Maecenas eleifend erat at justo fringilla.
  </p>
  <p class="about__description">
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
    imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
    Cras massa nibh, tincidunt.
    <br />
    Aliquam erat volutpat. Aenean accumsan.
  </p>
  <picture>
    <source
      media="(min-width: 1280px)"
      srcset="images/about/desktop-cow.png, images/about/desktop-cow@2x.png"
    />
    <source
      media="(min-width: 768px)"
      srcset="images/about/tablet-cow.png, images/about/tablet-cow@2x.png"
    />
    <source
      media="(max-width: 767px)"
      srcset="images/about/mobile-cow.png, images/about/mobile-cow@2x.png"
    />
    <img
      class="about__image"
      src="images/about/mobile-cow.png"
      srcset="images/about/mobile-cow@2x.png"
      alt="cow and milk"
    />
  </picture>
  <button class="about_button">Read more</button>
</section>
