<section class="contacts">
  <div class="contacts-container container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__list-card">
        <button class="contacts__list-button" type="button">CAFE</button>
        <div class="location">
          <p class="location__city-name">Chicago</p>
          <p class="location__city-name-discription">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work">
          <p class="work__day">Monday - Friday</p>
          <p class="work__time">06:00 AM - 10:00 PM</p>
          <p class="work__day">Saturday - Sunday</p>
          <p class="work__time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__list-card">
        <button class="contacts__list-button truck" type="button">FOOD TRUCK</button>
        <div class="location">
          <p class="location__city-name">Los Angeles</p>
          <p class="location__city-name-discription">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work">
          <p class="work__day">Monday - Friday</p>
          <p class="work__time">06:00 AM - 10:00 PM</p>
          <p class="work__day">Saturday - Sunday</p>
          <p class="work__time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__list-card">
        <button class="contacts__list-button" type="button">CAFE</button>
        <div class="location">
          <p class="location__city-name">Chicago</p>
          <p class="location__city-name-discription">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work">
          <p class="work__day">Monday - Friday</p>
          <p class="work__time">06:00 AM - 10:00 PM</p>
          <p class="work__day">Saturday - Sunday</p>
          <p class="work__time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-button-set btn">
      <li>
        <button class="contacts-button-set__but">Our Locations ></button>
      </li>
      <li>
        <button class="contacts-button-set__but">Franchise ></button>
      </li>
    </ul>
  </div>
</section>
