<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__list-card">
        <button class="contacts__list-button" type="button">CAFE</button>
        <div>
          <h3 class="city-name">Chicago</h3>
          <p class="city-name-discription">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div></div>
      </li>
    </ul>
  </div>
</section>
