<!-- <section class="section hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__cell hero__cell--left">
                <h1 class="page-title">ice cream made with passion</h1>
                <div class="hero__btns">
                    <a class="btn secondary__btn" href="#">Products</a>
                    <a class="btn main__btn" href="#">How it's made?</a>
                </div>
            </div>
            <div class="hero__cell hero__cell--right">
                <ul class="hero__list">
                    <li class="hero__item">cafes</li>
                    <li class="hero__item">food trucks</li>
                </ul>
            </div>
        </div>
        <div class="hero__label">
            <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a class="hero__link" href="#">-></a>
        </div>
        <div class="hero__round"></div>
        <div class="hero__icecream"></div>
        <div class="hero__milk"></div>
        <div class="her__girl"></div>
    </div>
</section> -->
