<section class="section hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__cell hero__cell--left">
        <h1 class="page__title">
          ice cream made with <span class="page__title page__title--big">passion</span>
        </h1>
        <ul class="hero__btns">
          <li class="hero__btns__item">
            <a class="btn btn--secondary hero__btn hero__btn--secondary" href="#">Products</a>
          </li>
          <li class="hero__btns__item">
            <a class="btn btn--main hero__btn hero__btn--main" href="#">How it's made?</a>
          </li>
        </ul>
      </div>
      <div class="hero__cell hero__cell--right">
        <ul class="hero__list">
          <li class="hero__item">cafes</li>
          <li class="hero__item">food trucks</li>
        </ul>
      </div>
    </div>
    <div class="hero__label">
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a class="hero__link" href="#" aria-label="click me to read more">
        <img
          class="hero__link__icon"
          srcset="
            images/hero-header/hero-arrow-right@1x.png 1x,
            images/hero-header/hero-arrow-right@1x.png 1x
          "
          src="images/hero-header/hero-arrow-right@1x.png"
          alt="arrow to right"
          width="26"
          height="26"
        />
      </a>
    </div>
    <div class="hero__round"></div>
    <div class="hero__icecream"></div>
    <div class="hero__milk"></div>
    <div class="hero__girl"></div>
  </div>
</section>
