<section class="products">
    <div class="container">
    <label for="" class="prodacts-label">100% natural</label> 
    <h2 class="products-title">products</h2>
    <ul class="products-set ">
        <li class="products__item-1 list" >
            <picture class="products__image">
                <source srcset="./images/products/ice-cream-450.webp 450w,
                ./images/products/ice-cream-900.webp 900w,
                ./images/products/ice-cream-1350.webp 1350w" type="image/webp">
              
                <img class="" srcset="
                ./images/products/ice-cream-450.png 450w,
                ./images/products/ice-cream-900.png 900w,
                ./images/products/ice-cream-1350.png 1350w"
                  sizes="(min-width: 1200px) 33.33vw, (min-width: 768px) 50vw, 100vw"
                  src="./images/products/ice-coffe.png" alt="фото мороженное"  />
              </picture>
            <h3 class="prodacts__name">ice cream</h3>
            <p class="prodacts__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <a href="">
                <svg class="products__icon">
                    <use></use>
                </svg>
            </a>
        </li>
        <li class="products__item-2 list" >
            <picture class="products__image">
                <source srcset="./images/products/ice-coffe-450.webp 450w,
                ./images/products/ice-coffe-900.webp 900w,
                ./images/products/ice-coffe-1350.webp 1350w" type="image/webp">
              
                <img class="" srcset="
                ./images/products/ice-coffe-450.png 450w,
                ./images/products/ice-coffe-900.png 900w,
                ./images/products/ice-coffe-1350.png 1350w"
                  sizes="(min-width: 1200px) 33.33vw, (min-width: 768px) 50vw, 100vw"
                  src="./images/products/ice-coffe.png" alt="фото кофе с мороженным" />
              </picture>
            <h3 class="prodacts__name">ice coffee</h3>
            <p class="prodacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <a href="">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
        <li class="products__item-3 list" >
            <picture class="products__image">
                <source srcset="./images/products/milkshakes-450.webp 450w,
                ./images/products/milkshakes-900.webp 900w,
                ./images/products/milkshakes-1350.webp 1350w" type="image/webp">
              
                <img class="" srcset="
                ./images/products/milkshakes-450.png 450w,
                ./images/products/milkshakes-900.png 900w,
                ./images/products/milkshakes-1350.png 1350w"
                  sizes="(min-width: 1200px) 33.33vw, (min-width: 768px) 50vw, 100vw"
                  src="./images/products/milkshakes.png" alt="фото милкшейк" />
              </picture>
            <h3 class="prodacts__name">milkshakes</h3>
            <p class="prodacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <a href="">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
    </section>