
   <section class="reviews">
    <div class="container">
      <h3 class="visually-hidden">Отзывы покупателей</h3>
      <ul class="reviews__list list">
          <li class="reviews__item">
              <img src="images/reviews/1.jpg" alt="" width="85px">
          </li>
        <li class="reviews__item">
            <img src="images/reviews/2.jpg" alt="" width="85px">
        </li>
        <li class="reviews__item">
            <img src="images/reviews/3.jpg" alt="" width="85px">
        </li>
      </ul>
    <div class="reviews-text">
      <!-- <svg class="reviews__quotes" width="54" height="40">
        <use href="images/SVG/icons.svg#icon-untitled"></use>
      </svg> -->
      <p class="reviews__text">
        <svg class="reviews__quotes" width="54" height="40">
          <use href="images/SVG/icons.svg#icon-untitled"></use>
        </svg>
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
          congue. Lorem ipsum primis in nibh vel risus.
        </p>
    </div>
     
    <ul class="reviews-icon-list">
      <li class="reviews-icon-list__reviews-icon-link">
          <svg class="reviews-icon-list__point" width="32">
          <use href="images/SVG/icons.svg#icon-ellipsis"></use>
          </svg>
          <p class="reviews-icon-list__name">Emily, Los Angeles</p>
          <div class="reviews-home">
            <svg class="reviews-icon-list__home" width="12" height="12">
              <use href="images/SVG/icons.svg#icon-home"></use>
            </svg>
            <svg class="reviews-icon-list__home" width="12" height="12">
              <use href="images/SVG/icons.svg#icon-ellipse"></use>
            </svg>
            <svg class="reviews-icon-list__home" width="12" height="12">
              <use href="images/SVG/icons.svg#icon-ellipse"></use>
            </svg>
          </div>
      </li>
     
    </ul>
    
  </div>
   </section>
 