.gallery {
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
      to bottom,
      $secondary-bgc 44.5%,
      $primary-bgc 44.5%,
      $primary-bgc 100%
    );
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      $secondary-bgc 44.8%,
      $primary-bgc 44.8%,
      $primary-bgc 100%
    );
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
      to bottom,
      $secondary-bgc 45%,
      $primary-bgc 45%,
      $primary-bgc 100%
    );
  }
}
.gallery__container {
  max-width: 480px;
  padding-top: 46px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 70px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

.gallery__descktop {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  width: 1010px;
  height: 430px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.gallery__mobile {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.gallery__thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-right: 6px;
  }
  height: 100%;
}

.gallery__image {
  @media screen and (min-width: 1280px) {
    border-radius: 21px;
    transition: transform 250ms ease-out, box-shadow 250ms ease-out;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0px 0px 10px 2px $secondary-accent-color;
    }
  }
  &--bottom {
    margin-bottom: 6px;
  }
  &--top-one {
    margin-top: 142px;
  }

  &--top-two {
    margin-top: 86px;
  }

  &--top-four {
    margin-top: 98px;
  }

  &--top-five {
    margin-top: 55px;
  }

  &--top-six {
    margin-top: 150px;
  }
}

.gallery__image--bigger {
  width: 285px;
}
