.gallery {
  background-image: linear-gradient(
    to bottom,
    $secondary-bgc 40%,
    $primary-bgc 40%,
    $primary-bgc 100%
  );
}

.gallery__descktop {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  width: 1010px;
  height: 430px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.gallery__mobile {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.gallery__thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-right: 6px;
  }
  height: 100%;
}

.gallery__image {
  &--bottom {
    margin-bottom: 6px;
  }
  &--top-one {
    margin-top: 142px;
  }

  &--top-two {
    margin-top: 86px;
  }

  &--top-four {
    margin-top: 98px;
  }

  &--top-five {
    margin-top: 55px;
  }

  &--top-six {
    margin-top: 150px;
  }
}

.gallery__image--bigger {
  width: 285px;
}
