.page-header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  margin-top: 6px;
  min-width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//for mobile

.header__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: hsla(345, 100%, 86%, 0.6);
  opacity: 0;
  pointer-events: none;

  .page-header.menu-open & {
    opacity: 1;
    pointer-events: initial;
  }
}

.menu {
  position: fixed;
  overflow: hidden;
  top: 0%;
  right: 0;
  margin: 0;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: $mobile-menu-bgc;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms linear;

  .page-header.menu-open & {
    opacity: 1;
    transform: translateX(0);
    overflow: scroll;
  }
}

.menu__btn {
  margin-top: 60px;
  align-self: center;
}

.page__nav {
  margin-top: 19px;
}

.nav__item {
  padding-left: 15px;
  border-top: 1px solid $mobile-menu-line-color;
  &:last-child {
    border-bottom: 1px solid $mobile-menu-line-color;
  }
}

.nav__link {
  display: flex;
  height: 42px;
  align-items: center;
  @include font(14px, bold, 1.29);
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $secondary-accent-color;
  }

  &--current {
    color: $secondary-accent-color;
  }
}

.close__btn {
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 28px;
  height: 14px;
  width: 14px;
  background: transparent;
  border: none;
}

.burger__btn {
  cursor: pointer;
  height: 12px;
  width: 20px;
  background: transparent;
  border: none;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 43px;
  height: 44px;
  border-radius: 22px;

  &--hidden {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
