.hero {
  background: $primary-accent-color;
  overflow: hidden;
}

.hero__container {
  position: relative;
  padding-top: 193px;
  padding-bottom: 160px;
}

.hero__thumb {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

//for mobile

@media screen and (max-width: 767px) {
  .hero__cell--right,
  .hero__label,
  .hero__milk,
  .hero__girl {
    display: none;
  }
}

.hero__wrapper {
  position: relative;
  z-index: 9;
}

.hero__cell--left {
  width: 230px;
}

.page__title {
  font-family: $accent-font;
  @include font(26px, normal, 1.15);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-text-color;

  &--big {
    @include font(48px, normal, 0.96);
    color: $secondary-accent-color;
  }
}
.hero__btns {
  margin-top: 19px;
  display: flex;
  align-items: center;
}

.hero__btns__item {
  &:first-child {
    margin-right: 8px;
  }
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  @include font(8px, normal, 1.25);
  &--main {
    width: 83px;
  }

  &--secondary {
    width: 62px;

    &:hover,
    &:focus {
      background: #c7133e;
    }
  }
}

.hero__round {
  position: absolute;
  z-index: 1;
  right: -62px;
  bottom: 75px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background: $third-accent-color;
}

.hero__icecream {
  position: absolute;
  z-index: 2;
  right: 32px;
  bottom: 0;
  width: 171px;
  height: 410px;
  background-image: url(/images/hero-header/mobile-icecream@1x.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/hero-header/mobile-icecream@2x.png);
  }
}

// for tablet

@media screen and (min-width: 768px) {
  .hero__container {
    padding-top: 102px;
    padding-bottom: 34px;
  }

  .hero__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .hero__cell--left {
    width: 180px;
  }
  .page__title {
    @include font(22px, normal, 1.13);

    &--big {
      @include font(34px, normal, 0.9);
    }
  }
  .hero__btns {
    margin-top: 20px;
  }

  .hero__list {
    margin-right: 8px;
  }

  .hero__item {
    @include font(8px, normal, 1.25);
    color: $primary-text-color;
    text-align: right;
    &:last-child {
      margin-top: 13px;
    }
  }
  .hero__count {
    position: relative;
    font-family: $accent-font;
    @include font(28px, normal, 1.14);
    letter-spacing: 0.04em;
    color: $secondary-accent-color;
    &::before {
      position: absolute;
      z-index: -1;
      top: -1px;
      right: 0;
      content: '';
      display: block;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: $primary-bgc;
      transform: translateX(50%);
    }
  }
  .hero__label {
    margin-top: 66px;
    margin-left: 120px;
    width: 114px;
  }
  .hero__description {
    @include font(8px, normal, 1.5);
    color: $primary-text-color;
  }
  .hero__link {
    margin-top: 7px;
    display: block;
    height: 18px;
    width: 18px;
    background-image: url(/images/hero-header/hero-arrow-right@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/hero-header/hero-arrow-right@2x.png);
    }
  }
  .hero__round {
    right: 137px;
    bottom: 48px;
    height: 322px;
    width: 324px;
  }

  .hero__icecream {
    height: 336px;
    width: 143px;
    right: 247px;
    background-image: url(/images/hero-header/tablet-icecream@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/hero-header/tablet-icecream@2x.png);
    }
  }

  .hero__milk {
    position: absolute;
    z-index: 1;
    left: 34px;
    bottom: 28px;
    height: 126px;
    width: 124px;
    background-image: url(/images/hero-header/tablet-milk@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/hero-header/tablet-milk@2x.png);
    }
  }

  .hero__girl {
    position: absolute;
    z-index: 1;
    right: 34px;
    bottom: 0;
    height: 133px;
    width: 168px;
    background-image: url(/images/hero-header/tablet-girl@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/hero-header/tablet-girl@2x.png);
    }
  }
}
