.products{
    padding-bottom: 98px;
    }
    .prodacts-label{
    font-family: $accent-font;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: $third-accent-color;
    margin-bottom: 15px;
    }
    .products-title{
    font-family: $accent-font;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondary-accent-color;
    margin-bottom: 144px;
    }
    
    .products__item-1 {

    display: flex;
    flex-direction: column;
    position: relative;
    background: $primary-accent-color;
    border-radius: 24px;
    margin-bottom: 130px;
    padding-bottom: 41px;
    &::before{
        background-image: url(../images/products/ice-cream.png);
        background-size: 250px 250px;
        width: 250px;
        height: 250px;
        content: '';
        display: block;
        margin: 0 auto;
        transform: translateY(-45% );
    }
    }
    .products__item-2 {
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        background: $product-one-color;
        margin-bottom: 130px;
        padding-bottom: 41px;
        &::before{
            background-image: url(../images/products/ice-coffe.png);
            background-size: 250px 250px;
            width: 250px;
            height: 250px;
            content: '';
            display: block;
            margin: 0 auto;
            transform: translateY(-45% );
        }

    }
    .products__item-3{
        border-radius: 24px;
        background: $product-two-color;
        padding-bottom: 41px;
        &::before{
            background-image: url(../images/products/milkshakes.png);
            background-size: 250px 250px;
            width: 250px;
            height: 250px;
            content: '';
            display: block;
            margin: 0 auto;
            transform: translateY(-45% );
        }
   }
    
    .prodacts__name{
    font-family: $accent-font;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-text-color;

     margin-bottom: 30px;
    display: block;
    }
    
    .prodacts__text{

    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: $primary-text-color;
    padding-left: 40px;
    padding-right: 40px;

    margin-bottom: 30px;
   
    &::before{
        background-image: url(../images/products/group-4.png);
        background-size: 25px 6px;
        width: 25px;
        height: 6px;
        content: "";
        display: block;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 30px;
        background-repeat: no-repeat;
    }
    
}
 .products__button{
        background-image: url(../images/products/arrow-right-4.png);
        background-size: 40px 40px;
    width: 45px;
    height: 45px;
    content: "";
    display: block;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 41px;

    }
    
    @media screen and (min-width: 768px) {
        .products-set{
            display: flex;
            margin: -5px;
        }
        .products__item-1, .products__item-2, .products__item-3{
            margin: 5px;
            flex-basis: calc((768px - 3 * 5px) / 3);
         
        }
    }
    
