
    .reviews {
      display: block;
      height: 540px;

    }
    
    .reviews__list {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .reviews-text {
        justify-content: center;
    }
    
    .reviews__text {
       display: inline;
	   background-repeat: no-repeat;
	   background-position: center bottom 1px;
	   background-size: 100% 1px;
	   background-image: linear-gradient(to right,#E1E1E1,#E1E1E1);
       width: 157px;
       padding-top: 43px;
       font-family: "Open Sans", sans-serif;
       font-style: normal;
       font-weight: 500;
       font-size: 12px;
       line-height: 255%;
       text-align: center;
       letter-spacing: 0.04em;
       color: #000000;

    &:hover {
        background-image: linear-gradient(to right,#E1E1E1,#E1E1E1);
    }
    }
    .reviews__icon {
      display: flex;
    }


    @media screen and (min-width: 320px) {
        .reviews {
            padding-top: 40px;
            padding-bottom: 40px;
      
          }
  }

//   @media screen and (min-width: 768px){}

//   @media screen and (min-width: 1280px){}